<div>
    <%= link_to product_path(product.id), class: 'product' do %>
        <h2> <%= product.title %></h2>
    <% end %>
</div>
<div>
    <%= image_tag product.photo if product.photo.attached? %>
</div>
<div>
    <span> $ <%= product.price %></span>
</div>